<ion-view view-title="Contact Us" class="main-back">

    <ion-content>
        <div class="list">

            <div class="item">
              <!-- <img src="img/members/1.jpeg"> -->
              <h2>PRINKIT PATEL</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">FOUNDER AND CHAIRPERSON</span><br/>
              <a href="tel:8866829800" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>088668 29800
              </a><br/>
              <a href="mailto:changevadodara@gmail.com" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-email" style="margin: 10px;"></i>changevadodara@gmail.com
              </a>
            </div>

            <div class="item">
              <!-- <img src="img/members/2.jpg"> -->
              <h2>KRUPA VYAS</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">VICE PRESIDENT</span><br/>
              <a href="tel:9099089924" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>9099089924
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/3.jpg"> -->
              <h2>FURQAAN SHAIKH</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">SOCIAL MEDIA HEAD</span><br/>
              <a href="tel:7600259310" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>7600259310
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/6.jpg"> -->
              <h2>RADHA THAKKAR</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">CONTENT WRITING HEAD</span><br/>
              <a href="tel:9426778633" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>9426778633
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/5.jpg"> -->
              <h2>YASH PATEL</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">PHOTOGRAPHY HEAD</span><br/>
              <a href="tel:8460923248" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>8460923248
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/7.jpg"> -->
              <h2>ACHAL PAREKH</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">HR HEAD</span><br/>
              <a href="tel:9925597584" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>9925597584
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/7.jpg"> -->
              <h2>HIMANI BHATT</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">SPONSORSHIP HEAD</span><br/>
              <a href="tel:8128411297" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>8128411297
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/8.jpg"> -->
              <h2>VALISHA SHAH</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">CAMP COORDINATOR - SAMTA</span><br/>
              <a href="tel:9998282949" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>9998282949
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/members/13.jpg"> -->
              <h2>MEET PATEL</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">CAMP COORDINATOR - WAGHODIA </span><br/>
              <a href="tel:9726932828" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>9726932828
              </a><br/>
            </div>

            <div class="item">
              <!-- <img src="img/no-img.jpg"> -->
              <h2>MEGHA NAYAK</h2>
              <span class="item-text-wrap" style="font-size: 12px; color: rgba(0,0,0,0.5);">CAMP COORDINATOR - GOTRI </span><br/>
              <a href="tel:8128990664" style="font-size: 15px; color: rgba(0,0,0,255,0.5);">
                  <i class="icon ion-ios-telephone" style="margin: 10px;"></i>8128990664
              </a><br/>
            </div>
        </div>
    </ion-content>
</ion-view>
