<ion-view view-title="Home" class="main-back">
    <div class="bar bar-subheader">

        <h2 class="title">
            <!-- <i class="icon ion-social-facebook positive" style="font-size: 14px;"></i> -->

            <!-- <a ng-click="goToFB()" class="button button-icon icon ion-social-facebook" style="color: #387ef5;"></a> -->

            <!-- <a ng-click="goToJoinForm()">JOIN US!</a> -->
            <a ng-click="goToJoinForm()">Wish to Contribute? Click here</a>
        </h2>
    </div>
    <ion-content>
        <br />
        <div class="item item-image card" ng-if="event.Event.image_dir != ''">
          <img src="img/about-us.jpg" />
        </div>
        <div class="item card">
            <center>
                <button class="button" style="border: 0px;background: transparent;" ng-click="goToInstagram()">
                    <i class="icon ion-social-instagram" style="font-size: 15px;"></i>
                    Instagram
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="button" style="border: 0px;background: transparent;" ng-click="goToFB()">
                    <i class="icon ion-social-facebook" style="font-size: 15px;"></i>
                    Facebook
                </button>
            </center>
        </div>
        <!-- <div class="item item-text-wrap">
            <h2 style="text-align: center;font-weight: bold;color:#387ef5;">
                OUR WORK SO FAR!
            </h2>
        </div> -->
        <div class="card">
          <div class="item item-divider">
            Welcome CVCians!
          </div>
          <div class="item item-text-wrap">
              Let's explore the world built by CVCians and witness the enthralling journey so far!
          </div>
        </div>

        <div class="list card">
          <div class="item item-image">
            <img src="img/home/img1.jpeg">
          </div>

          <div class="item">
              Slum education camp
          </div>
        </div>

        <div class="list card">
          <div class="item item-image">
            <img src="img/home/img2.jpeg">
          </div>

          <div class="item item-text-wrap">
              Digital campaign to promote pollution free diwali
          </div>
        </div>

        <div class="list card">
          <div class="item item-image">
            <img src="img/home/img3.jpeg">
          </div>

          <div class="item item-text-wrap">
              Cycling Trip to promote pollution free environment
          </div>
        </div>

        <div class="list card">
          <div class="item item-image">
            <img src="img/home/img4.jpeg">
          </div>

          <div class="item item-text-wrap">
              Blood Donation Camp
          </div>
        </div>

        <div class="list card">
          <div class="item item-image">
            <img src="img/home/img5.jpeg">
          </div>

          <div class="item item-text-wrap">
              Swachta Abhiyan
          </div>
        </div>
        <!-- <div class="card">
          <div class="item item-divider">
            1. EFFICIENT FOOD UTILISATION
          </div>
          <div class="item item-text-wrap">
              There are many houses whose kitchens light-up once a day, perhaps there are many people who have to sleep emptied stomach. There are many children who suffer from 'malnutrition'. So with a dream that no person sleeps emptied stomach and no child suffers from malnutrition CVC tries it's best by collecting the leftover food from marriages and parties and serving it to the hungry. Also clothing which protects the body from natural seasonal changes; CVC collects old clothes from affordable or financially stable class of the society and serves it to the needy.
            </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            2. EDUCATION
          </div>
          <div class="item item-text-wrap">
              A necessity to lead a frucified life. According to our Preamble "Any person above the age of seven, knowing any language completely is said to be literate". So with the view to make our society capable enough to read, write and calculate their own profits and losses incurring, CVC started SLUM EDUCATION CAMPS conducted on every sunday in various areas of the city- Baroda. So far we have covered Waghodiya, Samta and Gotri slum areas and we're looking forward to extend. Slum Education includes teaching basic mathematics, languages including gujarati and english. Apart from these we also teach other basic hygiene related things like washing hands properly, bathing regularly, cutting nails weekly, oiling hair and keeping it tied and neat, etc,. Thus, In short to make these people capable enough to compete with the world, CVC started slum education camps.
            </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            3. SWACCHTA ABHIYAN
          </div>
          <div class="item item-text-wrap">
              We often hear talks and conversations regarding our country being UNCLEAN. But we never realise the fact that it is only we people who make it UNCLEAN. So, as the stayfree advertisement claims 'if it irritates us so much than we should start it' and with the view to make nation clean and support the 'SWACCH BHARAT ABHIYAN' initiated by our honourable Prime Minister Mr.Narendra Damodardas Modi, CVC conducts SWACCHTA ABHIYAN wherein we clean roads and other garbage dumped areas of the city. Because it is not only the duty of government to keep country clean perhaps it is every citizen's duty towards making India clean. To make a programme/initiative like "SWACCH BHARAT ABHIYAN" succeed, is achieved by the combined efforts of entire nation's citizens.
            </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            4. BLOOD DONATION CAMPS
          </div>
          <div class="item item-text-wrap">
              There are many lives suffering or perhaps dying because of the unavailability of the proper blood group. Hence, we also conduct blood donation camps which could save a life in some cases.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
              Thus, CVC is all about bringing a positive change in the society which would lead to an all round growth of the city, state as well as nation.

              We a team of more than 300 registered CVCians understood our responsibility towards our motherland because people in army and at Indian borders or police force only not owe responsibility towards the motherland, everyone of us have to pay homage to the mother who nurtured us.

              So! Let's join hands and pledge to make our motherland proud of us! Let's bring a change.
            </div>
        </div> -->
    </ion-content>
</ion-view>
