<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive bar-app">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" style="margin-left:10px;" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar-stable"> -->
      <!-- <h1 class="title">Left</h1> -->

    <!-- </ion-header-bar> -->
    <ion-content>
      <section class = "bar-stable theme-main-back-color home-container">

        <div style="background-color: #387ef5; width: 100%;height: 275px;">
            <img src="img/cvc_logo1.jpg" width="100%" height="100%"/>
            <!-- <button class="button" style="position: absolute;top: 35%;border: 0px;background: transparent;">
                <i class="icon ion-social-instagram" style="font-size: 15px;"></i>
            </button> -->
            <!-- <a class="button button-icon icon ion-social-instagram" style="position: absolute;top: 34%;left: 2%;color: #458eff;"></a>
            <a class="button button-icon icon ion-social-facebook" style="position: absolute;top: 34%;right: 2%;color: #387ef5;"></a> -->

        </div>


      </section>
      <ion-list>


        <ion-item class="item item-icon-left" menu-close href="#/app/home">
          <i class="icon ion-home"></i>
          Home
        </ion-item>

        <ion-item class="item item-icon-left" menu-close href="#/app/events">
          <i class="icon ion-ios-bell"></i>
          Events
        </ion-item>

        <ion-item class="item item-icon-left" menu-close href="#/app/facebook">
          <i class="icon ion-edit"></i>
          Articles
        </ion-item>

        <ion-item class="item item-icon-left" menu-close href="#/app/contactus">
          <i class="icon ion-email"></i>
          Contact Us
        </ion-item>

        <ion-item class="item item-icon-left" menu-close href="#/app/ourwork">
          <i class="icon ion-network"></i>
         Our Work So Far
        </ion-item>

        <ion-item class="item item-icon-left" menu-close href="#/app/ourcamp">
          <i class="icon ion-android-locate"></i>
          Our Camps
        </ion-item>

        <ion-item class="item item-icon-left" menu-close ng-click="checkForUpdate()">
          <i class="icon ion-loop"></i>
          Check for Update
        </ion-item>
<!--
        <ion-item class="item item-icon-left" menu-close href="#/app/aboutus">
          <i class="icon ion-information-circled"></i>
          About Us
        </ion-item> -->
<!--
        <ion-item class="item item-icon-left" menu-close href="#/app/searchuser" ng-if="storeduser.access == '1'">
          <i class="icon ion-search"></i>
          Search User
        </ion-item> -->

        <!-- <ion-item class="item item-icon-left" menu-close href="#/login">
          <i class="icon ion-log-out"></i>
          Logout
        </ion-item> -->

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
