<ion-view view-title="OUR WORK SO FAR!" class="main-back">
    <ion-content>

        <div class="card">

            <div class="item item-text-wrap">
                Change Vadodara Campaign was initiated to bring a positive change in the society. CVC initiated it's activities with introduction of Food Utilisation Camps, where CVC collected food from parties and marriages and donated it to needy. Following that, CVC also started Clothes Distribution Camps where clothes are collected from the financially stable part of the society and given to needy people.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap card">
                With a view to develop a self reliant society, CVC Slum Education Camps were initiated. Slum education, briefly is about all round development of a child from creativity to studies, from providing food to cleanliness & basic manners. In order to  better the environment, CVC conducts Swachhata Abhiyaans wherein we clean roads and other garbage dumped areas of the city. Also, street plays, spreading the message of Swacchta and its importance, are conducted regularly. CVC conducts Blood Donation Camps to meet the shortage of blood and save many lives from suffering and dying.
            </div>
        </div>
    </ion-content>
</ion-view>
